header{
	font-family: 'Faster One', cursive;
	font-size: 3.5em;
	text-align: center;
}
body{
	background-image: url("../images/backgroundWorking.jpg");
	font-family: Verdana, Geneva, sans-serif;
}
div#wrapper{
	background-color: whitesmoke;
	padding: .02% 10% 10% 10%;
	margin-right: auto;
	margin-left: auto;
	width: 60%;
}
.text_center, h1{
	text-align: center;
}
#directions{
	margin: 20px;
}
#signup, #comments{
	display: table;
	margin: 20px 0 20px 0;
}
p{
	display: table-row;
}
label, #reset{
	display: table-cell;
	padding: 3px;
	margin: 5px;
}
input, #submit{
	display: table-cell;
	padding: 3px;
	margin: 5px;
}
.required{
	color: red;
}
.error{
	font-weight: 900;
	color: red;
}
input.error{
	font-weight: normal;
}
option, select, textarea, #checkbox{
	margin: 5px;
	padding: 3px;
}
#left{
	float: left;
	position: relative;
	margin: 0 30px 10px 30px;
}
#right{
	float: right;
	position: relative;
	margin: 0 30px 10px 30px;
}
ol#app_info{
	list-style-type: decimal;
}
ol.courseLessons{
	list-style-type: decimal;
}
#outline{
	cursor: pointer;
}
ol.courseOutline {
	cursor: pointer;
	list-style-type: upper-roman;
}
iframe {
	width: 90%;
	height: 80%;
	padding: 15px;
	margin: 0 0 20px 70px;
	border: 4px ridge blue;
}
#container{
	position: relative;
	width: 100%;
	height: 75px;
	padding: 15px;
	margin: 15px;
}
.mapDesc{
	position: absolute;
	top: 20px;
	left: 20%;
	width: 60%;
	text-align: center;
	padding: 5px;
	margin: 5px;
}
div.relative{
	position: relative;
	width: 100%;
}
footer.absolute{
	position: absolute;
	left: 42%;
	bottom: 10px;
	font-size: .75em;
}

.wrapper{
	display: flex;
	min-height: 100%;
}

.sidebar {
	position: absolute;
	width: 220px;
}

.content {
	flex: 1;
	padding: 30px;
	background: #eee;
	box-shadow: 0 0 5px rgba(0,0,0,1);
	transform: translate3d(0,0,0);
	transition: transform .3s;
}

.content.isOpen {
	transform: translate3d(220px,0,0);
}

.button {
	cursor: pointer;
}

.button:before {
	content: '\f0c9';
	font: 42px fontawesome;
}

/* Demo Navigation */

.title {
	font-size: 16px;
	line-height: 50px;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 7px;
	color: #eee;
	border-bottom: 1px solid #222;
	background: #2a2a2a;
}

.nav li a {
	position: relative;
	display: block;
	padding: 15px 15px 15px 50px;
	font-size: 12px;
	color: #eee;
	border-bottom: 1px solid #222;
	background: #2a2a2a;
}

.nav li a:before {
	font: 14px fontawesome;
	position: absolute;
	top: 14px;
	left: 20px;
}

.nav li:nth-child(1) a:before { content: '\f00a'; }
.nav li:nth-child(2) a:before { content: '\f012'; }
.nav li:nth-child(3) a:before { content: '\f0e8'; }
.nav li:nth-child(4) a:before { content: '\f0c3'; }
.nav li:nth-child(5) a:before { content: '\f022'; }
.nav li:nth-child(6) a:before { content: '\f115'; }
.nav li:nth-child(7) a:before { content: '\f085'; }
.nav li:nth-child(8) a:before { content: '\f023'; left: 23px; }

.nav li a:hover {
	box-shadow: inset 20px 15px 20px #5b5, inset 15px 15px 20px #222;
	background: #444;
}

#priceList{
	-webkit-column-count: 3; /* Chrome, Safari, Opera */
	-moz-column-count: 3; /* Firefox */
	column-count: 3;

	-webkit-column-gap: 40px; /* Chrome, Safari, Opera */
	-moz-column-gap: 40px; /* Firefox */
	column-gap: 40px;

	-webkit-column-rule: box-shadow inset 2px 1px 2px #5b5, inset 1px 1px 2px #222; /* Chrome, Safari, Opera */
	-moz-column-rule: 4px outset #eee; /* Firefox */
	column-rule: 4px outset #ff00ff;
}