@media only screen and (min-width: 300px) and (max-width: 599px) {
	*{
		font-size: 95%;
	}
	.hidden{
		display: none;
	}
	header{
		font-family: 'Faster One', cursive;
		font-size: 2.5em;
		text-align: center;
	}
	body{
		width: 100%;
		font-family: Verdana, Geneva, sans-serif;
		background-repeat: no-repeat;
		background-size: cover;
		background-image: url("../images/backgroundWorking.jpg");
	}
	div.wrapper{
		background-color: whitesmoke;
	}
	.content {
		flex: 1;
		box-shadow: 0 0 5px rgba(0,0,0,1);
		transform: translate3d(0,0,0);
		transition: transform .3s;
	}
	.text_center, h1{
		text-align: center;
	}
	#directions{
		margin: 20px;
	}
	#signup, #comments{
		display: table;
		margin: 20px 0 20px 0;
	}
	p{
		display: table-row;
		max-width: 100%;
	}
	label, #reset{
		display: table-cell;
		padding: 3px;
		margin: 5px;
	}
	input, #submit{
		display: table-cell;
		padding: 3px;
		margin: 5px;
	}
	.required{
		color: red;
	}
	.error{
		font-weight: bold;
		color: red;
	}
	input.error{
		font-weight: normal;
	}
	option, select, textarea, #checkbox{
		margin: 5px;
		padding: 3px;
	}
	ol#app_info{
		list-style-type: decimal;
	}
	ol.courseLessons{
		list-style-type: decimal;
	}
	#outline{
		cursor: pointer;
	}
	ol.courseOutline {
		cursor: pointer;
		list-style-type: upper-roman;
	}
	iframe {
		width: 90%;
		height: 80%;
		padding: 15px;
		margin: 20px 0 20px 0;
		border: 4px ridge blue;
	}
	#container{
		position: static;
		display: inline;
		width: 90%;
		height: 75px;
		padding: 15px;
		margin: 0 0 20px 0;
		text-align: center;
		padding: 5px;
		margin: 5px;
	}
	div.relative{
		position: relative;
		width: 100%;
	}
	footer.absolute{
		position: static;
		font-size: .75em;
		padding: 10px;
	}
	ul{
		width: 110%;
		padding: 5px;
		margin: 20px auto 20px auto;
	}
	ul.nav li{
		display: inline;
		position: relative;
	}
	ul.nav li a{
		margin-bottom: 5px;
		padding: 3px 5px;
		text-decoration: none;
	}
	a button{
		margin: 5px;
		height: 30px;
	}
}
@media only screen and (min-width: 600px) and (max-width: 767px) {

	.hidden{
		display: none;
	}
	header{
		font-family: 'Faster One', cursive;
		font-size: 1.5em;
		text-align: center;
	}
	body{
		width: 100%;
		font-family: Verdana, Geneva, sans-serif;
		background-repeat: no-repeat;
		background-size: cover;
		background-image: url("../images/backgroundWorking.jpg");
	}
	div.wrapper{
		background-color: whitesmoke;
		padding: .02% 10% 10% 10%;
		margin-right: auto;
		margin-left: auto;
		width: 80%;
	}
	.text_center, h1{
		text-align: center;
	}
	#directions{
		margin: 20px;
	}
	#signup, #comments{
		display: table;
		margin: 20px 0 20px 0;
	}
	p{
		display: table-row;
	}
	label, #reset{
		display: table-cell;
		padding: 3px;
		margin: 5px;
	}
	input, #submit{
		display: table-cell;
		padding: 3px;
		margin: 5px;
	}
	.required{
		color: red;
	}
	.error{
		font-weight: 900;
		color: red;
	}
	input.error{
		font-weight: normal;
	}
	option, select, textarea, #checkbox{
		margin: 5px;
		padding: 3px;
	}
	ol#app_info{
		list-style-type: decimal;
	}
	ol.courseLessons{
		list-style-type: decimal;
	}
	#outline{
		cursor: pointer;
	}
	ol.courseOutline {
		cursor: pointer;
		list-style-type: upper-roman;
	}
	iframe {
		width: 90%;
		height: 80%;
		padding: 5px;
		margin: 5px 0 5px 0px;
		border: 4px ridge blue;
	}
	#container{
		position: relative;
		width: 90%;
	}
	.mapDesc{
		text-align: center;
		padding: 5px;
		margin: 5px;
	}
	div.relative{
		position: relative;
		margin-left: auto;
		margin-right: auto;
		width: 100%;
	}
	footer.absolute{
		position: absolute;
		text-align: center;
		bottom: 10px;
		font-size: .75em;
	}
	ul{
		padding: 2px;
	}
	ul.nav li{
		display: inline;
		position: relative;
		margin-bottom: 5px;
	}
	ul.nav li a{
		margin-bottom: 5px;
		padding: 3px 5px;
		text-decoration: none;
		border-radius: 4px 4px 0 0;
	}


}
@media only screen and (min-width: 768px) {
	header{
		font-family: 'Faster One', cursive;
		font-size: 3.5em;
		text-align: center;
	}
	body{
		width: 100%;
		font-family: Verdana, Geneva, sans-serif;
		background-repeat: no-repeat;
		background-size: cover;
		background-image: url("../images/backgroundWorking.jpg");
	}
	div#wrapper{
		background-color: whitesmoke;
		padding: .02% 10% 10% 10%;
		margin-right: auto;
		margin-left: auto;
		width: 60%;
	}
	.text_center, h1{
		text-align: center;
	}
	#directions{
		margin: 20px;
	}
	#signup, #comments{
		display: table;
		margin: 20px 0 20px 0;
	}
	p{
		display: table-row;
	}
	label, #reset{
		display: table-cell;
		padding: 3px;
		margin: 5px;
	}
	input, #submit{
		display: table-cell;
		padding: 3px;
		margin: 5px;
	}
	.required{
		color: red;
	}
	.error{
		font-weight: 900;
		color: red;
	}
	input.error{
		font-weight: normal;
	}
	option, select, textarea, #checkbox{
		margin: 5px;
		padding: 3px;
	}
	.inputSignup{
		margin: 0 0 20px 45px;
	}
	.inputSignup label{
		margin-right: 20px;
		padding-right: 35px;
	}
	.inputSignup textarea{
		margin-top: 5px;
		padding-top: 5px;
	}
	.inputSignup input, .inputSignup select, .inputSignup textarea{
		margin-left: 25px;
		padding-left: 5px;
	}
	ol#app_info{
		list-style-type: decimal;
	}
	ol.courseLessons{
		list-style-type: decimal;
	}
	#outline{
		cursor: pointer;
	}
	ol.courseOutline {
		cursor: pointer;
		list-style-type: upper-roman;
	}
	iframe {
		height: 400px;
		width: 90%;
		padding: 15px;
		margin: 0 0 20px 70px;
		border: 4px ridge blue;
	}
	#container{
		position: relative;
		width: 100%;
		height: 75px;
		padding: 15px;
		margin: 15px;
	}
	.mapDesc{
		position: absolute;
		top: 20px;
		left: 20%;
		width: 60%;
		text-align: center;
		padding: 5px;
		margin: 5px;
	}
	div.relative{
		/* position: relative; */
		margin: 10px 0 10px 0;
		padding: 10px 0 10px 0;
		height: 50px;
	}
	footer.absolute{
		position: absolute;
		height: 30px;
		left: 42%;
		bottom: 0px;
		padding: 10px;
		margin: 10px;
		font-size: .75em;
	}

	.wrapper{
		display: flex;
		min-height: 100%;
	}

	.sidebar {
		position: absolute;
		width: 220px;
	}

	.content {
		flex: 1;
		padding: 30px;
		background: #eee;
		box-shadow: 0 0 5px rgba(0,0,0,1);
		transform: translate3d(0,0,0);
		transition: transform .3s;
	}

	.content.isOpen {
		transform: translate3d(220px,0,0);
	}

	.button {
		cursor: pointer;
	}

	.button:before {
		content: '\f0c9';
		font: 42px fontawesome;
	}

	/* Demo Navigation */

	.title {
		font-size: 16px;
		line-height: 50px;
		text-align: center;
		text-transform: uppercase;
		letter-spacing: 7px;
		color: #eee;
		border-bottom: 1px solid #222;
		background: #2a2a2a;
	}

	.nav li a {
		position: relative;
		display: block;
		padding: 15px 15px 15px 50px;
		font-size: 12px;
		color: #eee;
		border-bottom: 1px solid #222;
		background: #2a2a2a;
	}

	.nav li a:before {
		font: 14px fontawesome;
		position: absolute;
		top: 14px;
		left: 20px;
	}

	.nav li:nth-child(1) a:before { content: '\f00a'; }
	.nav li:nth-child(2) a:before { content: '\f012'; }
	.nav li:nth-child(3) a:before { content: '\f0e8'; }
	.nav li:nth-child(4) a:before { content: '\f0c3'; }
	.nav li:nth-child(5) a:before { content: '\f022'; }
	.nav li:nth-child(6) a:before { content: '\f115'; }
	.nav li:nth-child(7) a:before { content: '\f085'; }
	.nav li:nth-child(8) a:before { content: '\f023'; left: 23px; }

	.nav li a:hover {
		box-shadow: inset 20px 15px 20px #5b5, inset 15px 15px 20px #222;
		background: #444;
	}

	#priceList{
		-webkit-column-count: 3; /* Chrome, Safari, Opera */
		-moz-column-count: 3; /* Firefox */
		column-count: 3;

		-webkit-column-gap: 40px; /* Chrome, Safari, Opera */
		-moz-column-gap: 40px; /* Firefox */
		column-gap: 40px;

		-webkit-column-rule: 4px outset #eee; /* box-shadow inset 2px 1px 2px #5b5, inset 1px 1px 2px #222;  Chrome, Safari, Opera */
		-moz-column-rule: 4px outset #eee; /* Firefox */
		column-rule: 4px outset #ff00ff;
	}
	.form{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		height: 375px;
		width: 500px;
		background-color: #3f52b8;
		padding: 0 90px 0 90px;
		box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
	}
	.form__title{
		font-weight: normal;
		font-size: 16px;
		color: #fff;
		text-align: center;
		margin: 35px 0 20px 0;
	}
	.form__group{
		height: 80px;
		margin-bottom: 16px;
		position: relative;
	}
	.form__label{
		position: absolute;
		bottom: 62px;
		color: #adb5e3;
		font-size: 12px;
		margin-left: 3px;
		transition: all 0.5s;
		cursor: pointer;
	}
	.form__label.is-closed{
		color: #FFF;
		font-size: 16px;
		bottom: 15px;
	}
	.form__input{
		position: absolute;
		bottom: 0;
		display: block;
		width: 100%;
		height: 57px;
		border: none;
		border-radius: 5px;
		margin-top: 5px;
		padding-left: 60px;
		box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.4);
		font-family: 'Roboto', sans-serif;
		font-size: 16px;
		font-weight: 500;
		color: #606060;
		background-repeat: no-repeat;
		background-position: 16px center;
		transition: height 0.5s;
	}
	.form__input--username{
		background-image: url("../images/mail.png");
	}
	.form__input--password{
		background-image: url("../images/password.png");
	}
	.form__input.is-closed{
		height: 3px;
		background-image: none;
	}
	.form__link{
		display: inline-block;
		float: right;
		margin-top: 5px;
		text-decoration: none;
		color: #25306c;
		transition: all 0.5s;
	}
	.form__link:hover{
		color: #adb5e3;
	}
	.form__submit{
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		height: 60px;
		width: 100%;
		background-color: #324192;
		border: none;
		color: white;
		font-size: 22px;
		cursor: pointer;
		z-index: 2;
		transition: height 0.25s;
	}
	.form__submit--animated{
		height: 100%;
		text-indent: 102%;
		white-space: nowrap;
		overflow: hidden;
	}
	.form__submit--animated:after{
		content: '✓';
		position: absolute;
		transform: translate(-50%, -50%);
		top: 50%;
		left: 50%;
		color: #FFF;
		font-size: 0px;
		text-indent: 0;
		opacity: 0;
		animation: show 1s forwards;
	}
	.reset{
		display: inline-block;
		color: #FFF;
		text-decoration: none;
		position: absolute;
		z-index: 1;
		bottom: -40px;
		width: 100px;
		margin: 0 110px;
		height: 30px;
		text-align: center;
		line-height: 30px;
		background-color: #1e2859;
		border-radius: 5px;
		box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
		transform: translateY(0);
		transition: transform 0.5s cubic-bezier(1, 0, 0, 1);
	}
	.reset--hide{
		transform: translateY(-50px);
	}
	@keyframes show{
		100%{
			opacity: 1;
			font-size: 50px;
		}
	}
	table, td, tr, th{
		border: 1px solid black;
		border-collapse: collapse;
		padding: 10px;
	}

}